* {
  margin: 0;
  padding: 0;
}

.globalApp {
  align-items: center;
  background-color: rgba(8, 29, 136, 0.897);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin: 0;
  width: auto;
}

.globalApp > h1 {
  background-color: #d4d3ebaf;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.formCardPreview {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 95%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 60px;
  width: 100%;
}

.cardContainer hr {
  width: 100%;
}

.cardContainer > h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.cardRendered {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.filterContainer {
  display: flex;
  justify-content: center;
}

.filterContainer p {
  color: #e63535;
  font-weight: 700;
}

.deckContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
