* {
  margin: 0;
  padding: 0;
}

.globalApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
}

.formCardPreview {
  display: flex;
  flex-direction: row;
}
