.cardStyles {
  background-color: rgb(126, 12, 65);
  border: 2px solid #962feb;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 20px;
  width: 300px;
}

.cardStyles h1 {
  background-color: aliceblue;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin: 5px 10px 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.cardStyles img {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 8px 8px 2px;
}

.cardStyles p {
  font-size: 12px;
  margin-bottom: 8px;
  margin-left: 13px;
  margin-top: 4px;
}

.cardStyles h4 {
  margin-left: 8px;
  margin-bottom: 8px;
}

.cardStyles h5 {
  margin-left: 8px;
  margin-top: 8px;
}

.cardStyles h3 {
  text-align: right;
  margin-right: 8px;
}
