.filterInputs {
  display: flex;
  flex-direction: row;
}

.filterInputs label {
  color: #e63535;
  display: flex;
  margin-left: 15px;
}

.filterInputs label > select {
  margin-left: 5px;
}

.filterInputs label > input {
  margin-left: 5px;
}
