.cardForm {
  background-color: rgb(6, 35, 112);
  border-radius: 1rem;
  box-shadow: 0 0 5px 3px #999;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 1rem;
  margin: 20px;
  padding: 1rem;
  text-align: center;
  width: 25rem;
}

.cardForm label {
  align-items: center;
  color: rgb(250, 246, 246);
  display: flex;
  padding: 0;
}

.cardForm label > input {
  flex: 1;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.cardForm label > select {
  flex: 0;
  margin-left: 0.5rem;
  padding: 0.25rem;
}

.cardForm p {
  color: white;
  font-size: 15px;
  margin: 6px 0;
  text-align: left;
}

.cardForm button {
  background: linear-gradient(to bottom, #8ca7f8 5%, #385cc0 100%);
  background-color: #faf0f0;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 7px 0 #031d74;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  padding: 9px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0c1b4b;
}

.cardForm button:hover {
  background: linear-gradient(to bottom, #062bfa 5%, #030b72 100%);
  background-color: #01223f;
}

.cardForm button:active {
  position: relative;
  top: 1px;
}
